USE [master]
GO
CREATE DATABASE [e-learning]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'e-learning', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\e-learning.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'e-learning_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\e-learning_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [e-learning].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [e-learning]
GO
/****** Object:  Table [dbo].[ConfigRespuestas]   ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfigRespuestas](
	[iIdConfigRespuesta] [int] IDENTITY(1,1) NOT NULL,
	[iIdPregunta] [int] NULL,
	[lEsCorrecta] [bit] NULL,
 CONSTRAINT [PK_ConfigRespuestas] PRIMARY KEY CLUSTERED 
(
	[iIdConfigRespuesta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cursos]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cursos](
	[iIdCurso] [int] NOT NULL,
	[cNombreCurso] [varchar](max) NULL,
	[iCalificacionAprob] [int] NULL,
 CONSTRAINT [PK_Cursos] PRIMARY KEY CLUSTERED 
(
	[iIdCurso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lecciones]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lecciones](
	[iIdLeccion] [int] IDENTITY(1,1) NOT NULL,
	[cNombreLeccion] [varchar](max) NULL,
	[iCalificacionAprob] [int] NULL,
 CONSTRAINT [PK_Lecciones] PRIMARY KEY CLUSTERED 
(
	[iIdLeccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[preguntas]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[preguntas](
	[iIdPregunta] [int] IDENTITY(1,1) NOT NULL,
	[cPregunta] [varchar](max) NULL,
	[iIdLeccion] [int] NULL,
	[lAplicanTodas] [bit] NULL,
	[iPuntaje] [int] NULL,
 CONSTRAINT [PK_preguntas] PRIMARY KEY CLUSTERED 
(
	[iIdPregunta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rel_usuario_cursos]   ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rel_usuario_cursos](
	[iIdRelUsuarioCurso] [int] IDENTITY(1,1) NOT NULL,
	[iIdUsuario] [int] NULL,
	[iIdCurso] [int] NULL,
 CONSTRAINT [PK_Rel_usuario_cursos] PRIMARY KEY CLUSTERED 
(
	[iIdRelUsuarioCurso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RelCursoLeccion]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RelCursoLeccion](
	[iIdRelCursoLeccion] [int] IDENTITY(1,1) NOT NULL,
	[iIdCurso] [int] NOT NULL,
	[iIdLeccion] [int] NOT NULL,
 CONSTRAINT [PK_RelCursoLeccion] PRIMARY KEY CLUSTERED 
(
	[iIdRelCursoLeccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RespuestasAlumnos]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RespuestasAlumnos](
	[iIdRespAlumno] [int] IDENTITY(1,1) NOT NULL,
	[iIdCurso] [int] NULL,
	[iIdLeccion] [int] NULL,
	[iIdAlumno] [int] NULL,
	[iIdPregunta] [int] NULL,
	[iIdConfigRespuesta] [int] NULL,
 CONSTRAINT [PK_RespuestasAlumnos] PRIMARY KEY CLUSTERED 
(
	[iIdRespAlumno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
